{% load staticfiles %}
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    <title>Lista Uli i Adama</title>
</head>

<body>
    <div class="page-header">
    <div class="row">
        <div class="col-sm-4"><h1><a href="{% url 'items_list' %}">Lista Uli i Adama</a></h1></div><div class="col-sm-8" align="right"><h1><a href="{% url 'info' %}"><span class="glyphicon glyphicon-question-sign"></span></a></h1></div>
    </div>
    <div class="row">
        <h3>
                Lista propozycji prezentów. Zamiast kwiatków ;)
        </h3>
    </div>
        
    </div>
    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer navbar-bottom">
        <p>W razie pytań skontaktuj się z Ulą lub Adamem</p>
        <p>Przygotowane przez Adama | <a href="http://adamgolubowski.github.io/" target="_blank">adamgolubowski.github.io</a></p>
    </div>
</body>

</html>