{% extends 'base.html' %} {% block content %}
<div class="col-md-8 info">
    <h3>
        Czym jest Lista Uli i Adama? 
    </h3>
    <p>
        Jest to spis książek, które chcielibyśmy zobaczyć na naszej półce. Będziemy bardzo przeszczęśliwi jeśli zamiast kwiatków na naszym slubie dostaniemy coś z tej listy.
        Jeśli chcesz sprawić nam przyjemność, zarezerwuj książkę korzystając z tej aplikacji.
    </p>
    <h3>
        Jak rezerwować?
    </h3>
    <p>
        Żeby zarezerwować książkę przejdź do <a class="textLink" href="{% url 'items_list' %}">listy</a> i wybierz książkę, która jeszcze nie jest zajęta. 
        Kliknij ikonę ołówka <span class="glyphicon glyphicon-pencil"></span>. Pojawi się formularz rezerwacji, w którym wpisz swoje imię albo inicjały oraz podaj hasło, 
        które znajdziesz w zaproszeniu. Zapisz swój wybór i gotowe! Jeśli masz jakieś problemy prosimy o kontakt.
    </p>
    <h3>
        Jak to działa? Szczegóły dla ciekawskich
    </h3>
    <p>
        Lista Uli i Adama to aplikacja <a class="textLink" href="https://www.djangoproject.com/">Django</a> 
        przygotowana przez <a class="textLink" href="http://adamgolubowski.github.io/" target="_blank">Adama</a>. 
        Kod źródłowy dostępny w <a class="textLink" href="https://github.com/adamgolubowski/naszalista" target="_blank">repozytorium GitHub</a>.
        Aplikacja była tworzona w środowisku <a class="textLink" href="https://c9.io" target="_blank">Cloud9</a> 
        i jest hostowana w usłudze <a class="textLink" href="https://www.pythonanywhere.com/" target="_blank">Python Anywhere</a>.
    </p>
</div>
{% endblock %}