{% extends 'base.html' %}
{% block content %}
        {% for item in items %}
        <div class="row">
            <div class="book_cover col-md-1">
                <p><img src="{{item.photo.url}}"></p>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class=item>
                    <h2>{{item.title}}</h2>
                    <p>{{item.description|linebreaksbr}}</p>
                    <h4>
                        {% if not item.donor %}
                            Ta książka jeszcze nie została zarezerwowa. Jeśli chesz ją zająć kliknij:  
                            <a href="{% url 'donor' pk=item.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% else %}
                            {{ item.donor }} już zarezerwował tę książkę.
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}